<%= link_to spaceship_path(spaceship), class: 'text-decoration-none text-white' do %>
  <% if spaceship.photo.attached?  %>
    <%= cl_image_tag(spaceship.photo.key,:width => 270, :height => 350, crop: :fit) %>
  <% else %>
    <%= image_tag('spaceship.jpeg', :height => 250) %>
  <% end %>

  <h3 class="text-wrap mt-3"> <%= spaceship.name %></h3>
  <p class="card-text text-truncate text-wrap "><%= spaceship.description.truncate(27, separator: ' ') %></p>
  <i class="fa-solid fa-paint-roller mb-1">  <%= spaceship.color %></i>
  <i class="fa-solid fa-chair mb-1">  <%= spaceship.seats %></i>
  <i class="fa-regular fa-calendar-days mb-1"> <%= spaceship.year %></i>
  <i class="fa-solid fa-dollar-sign">  <%= spaceship.price %></i>
  <%= link_to '', class: 'invisible' %>
 <% end %>
