<%# only fit homepage-img %>
<div style="max-width: 100%; object-fit: cover;
        width: 250; height: 150px;
        overflow: hidden; align-items: center; display: flex; justify-content: center; align-items: center;">
  <% if spaceship.photo.attached?  %>
      <%= cl_image_tag(spaceship.photo.key,:width =>370, crop: :fit) %>
  <% else %>
    <%= image_tag('spaceship.jpeg', :height => 150, width: 260 ) %>
  <% end %>
</div>

<h5 class="text-wrap mb-2 mt-3 mx-auto"><%= spaceship.name.truncate(27, separator: ' ') %></h5>
<div class="d-flex gap-1 mx-1 align-items-center justify-content-evenly">
  <i class="fa-solid fa-euro-sign mb-1 text-center p-2 shadow"> <%= spaceship.price %></i>
  <i class="fa-solid fa-chair mb-1 text-center p-2 shadow"> <%= spaceship.seats %></i>
  <i class="fa-regular fa-calendar-days mb-1 text-center p-2 shadow"> <%= spaceship.year %></i>
</div>
