<%# only fit homepage-img %>
<div style="max-width: 100%; object-fit: cover;
        width: 350; height: 200px;
        overflow: hidden; align-items: center; display: flex; justify-content: center; align-items: center;">
  <% if spaceship.photo.attached?  %>
      <%= cl_image_tag(spaceship.photo.key,:width => 350, :height => 350, crop: :fit) %>
  <% else %>
    <%= image_tag('spaceship.jpeg', :height => 250) %>
  <% end %>
</div>

<h3 class="text-wrap mb-3"><%= spaceship.name.truncate(27, separator: ' ') %></h3>
<i class="fa-solid fa-paint-roller mb-1"> <%= spaceship.color %></i>
<i class="fa-solid fa-chair mb-1"> <%= spaceship.seats %></i>
<i class="fa-regular fa-calendar-days mb-1"> <%= spaceship.year %></i>
