<div class="navbar sticky-top navbar-expand-sm">
    <div class="container-fluid">

      <div>
        <%= link_to root_path, class: 'text-decoration-none text-home' do %>
          <i class="fa-solid fa-shuttle-space mx-1"></i> Home
          <% end %>
      </div>

      <div class="d-flex align-items-center text-center gap-3">
        <div class="border rounded-pill">
          <%= link_to "Add your Spaceship", new_spaceship_path, class: 'linktext text-decoration-none px-3', style: 'color: #3E1F47;' %>
        </div>
        <% if user_signed_in? %>
          <div class="border rounded-pill">
            <%= link_to 'Dashboard', pages_dashboard_path, class: 'linktext text-decoration-none px-3', style: 'color: #3E1F47;'  %>
          </div>
          <div>Hello, <%= current_user.first_name %>!</div>
          <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'text-decoration-none btn btn-success' %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: 'text-decoration-none', class: 'text-decoration-none btn btn-success' %>
        <% end %>
      </div>

    </div>
  </div>
