<div class="container">
  <div class="row">
    <div class="col-6">
      <h2 class="fw-bold my-3">My Bookings</h2>
      <% @current_user_bookings.each do |booking| %>
      <div class="card text-dark bg-light mb-3 w-100">
        <%= cl_image_tag(booking.spaceship.photo.key, crop: :fit) %>
        <div class="card-body">
            <div><%= link_to "Delete", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></div>
            <h5 class="card-title fw-bold"><%= booking.spaceship.name %></h5>
            <p class="card-text"><%= booking.spaceship.description %></p>
            <p class="card-text"><span class="fw-bold text-muted">color:</span> <%= booking.spaceship.color %></p>
            <p class="card-text"><span class="fw-bold text-muted">seats:</span> <%= booking.spaceship.seats %></p>
            <p class="card-text"><span class="fw-bold text-muted">year:</span> <%= booking.spaceship.year %></p>
            <p class="card-text"><span class="fw-bold text-muted">booked:</span> <%= booking.start_date %> - <%= booking.end_date %></p>
        </div>

      </div>
      <% end %>
    </div>
    <div class="col-6">
      <h2 class="fw-bold my-3">My Spaceships</h2>
      <% @current_user_spaceships.each do |spaceship| %>
        <div class="card text-dark bg-light mb-3 w-100">
          <%= cl_image_tag(spaceship.photo.key, crop: :fit) %>
          <div class="card-body">
              <h5 class="card-title fw-bold"><%= spaceship.name %></h5>
              <p class="card-text"><%= spaceship.description %></p>
              <p class="card-text"><span class="fw-bold text-muted">color:</span> <%= spaceship.color %></p>
              <p class="card-text"><span class="fw-bold text-muted">seats:</span> <%= spaceship.seats %></p>
              <p class="card-text"><span class="fw-bold text-muted">year:</span> <%= spaceship.year %></p>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
