<%= render "/pages/navbar" %>

<div class="background">
  <div class="banner">
    <div class="container">
      <h1>SpaceX</h1>
      <h3>Take a trip to the stars</h3>
    </div>
  </div>
<<<<<<< HEAD
  <div class="container mt-3">
    <%= render "search_bar" %>
    <div class="d-flex justify-content-center">
      <h2>Spaceships</h2>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-wrap justify-content-start">
        <%@spaceships.each do |spaceship| %>
          <div class="card p-3 col-4 m-2 ">
            <%= render "indexcard", spaceship: spaceship %>
            <%= link_to "see details", spaceship_path(spaceship) %>
          </div>
        <% end %>
      </div>
=======
</div>

<div class="container mt-3">
  <%= render "search_bar" %>
  <div class="d-flex justify-content-center">
    <h2 style="color: black;">Spaceships</h2>
  </div>
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-wrap justify-content-start">
      <%@spaceships.each do |spaceship| %>
        <div class="card p-3 col-4 m-2 " style="background-color: #e9ecef;">
          <%= render "indexcard", spaceship: spaceship %>
          <%= link_to "See Details", spaceship_path(spaceship), class: "btn btn-primary"%>
        </div>
      <% end %>
>>>>>>> master
    </div>
  </div>

</div>


<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
