<div class="row justify-content-center mt-7">
  <div class="col-6 mb-3 form-inline">
    <%= simple_form_for([ @spaceship, @booking]) do |f| %>
      <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker", datepicker_dates_value: @unavailable_dates.to_json } } %>
      <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker", datepicker_dates_value: @unavailable_dates.to_json } } %>
      <p> Total price:  </p>

      <%# <% if @spaceship %>
        <div class="col-9 d-flex">
          <p class="form-control col-6 flex-grow-1"><%= @spaceship.price  %></p>
          <%= f.submit "Confirm booking", class: "btn btn-primary" %>
        </div>
      <% end %>
    <%# <% end %>
  </div>
</div>
