<%= simple_form_for(spaceship) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="d-flex justify-content-center">
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :color %>
      <%= f.input :seats %>
      <%= f.input :year %>
      <%= f.input :address %>
      <div>

      <%= f.input :tags, collection: Tag.all, input_html: {multiple: true, placeholder: "Select a tag", data: {controller: "tom-select", tom_select_options_value: {tags: true}}} %>

      </div>
      <%= f.input :description %>
      <%= f.file_field :photo %>
    </div>
  </div><br>

  <div class="d-flex justify-content-center">
    <div class="form-actions btn-primary d-flex justify-content-center">
      <%= f.button :submit, class: "btn btn-primary"%>
    </div>
    <div style="margin: 10px;"></div>
    <div class="d-flex justify-content-center">
      <%= link_to "Back to Homepage", spaceships_path, class:"btn btn-primary text-align-center"%>
    </div>
  </div>
<% end %>
