<%= simple_form_for(spaceship) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="d-flex justify-content-center">
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :color %>
      <%= f.input :seats %>
      <%= f.input :year %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.file_field :photo %>
    </div>
  </div><br>

  <div class="form-actions btn-primary d-flex justify-content-center">
    <%= f.button :submit %>
  </div>
<% end %>
