<div class="container">
<div class="d-flex justify-content-evenly m-5">
  <div>
    <%= render "card", spaceship: @spaceship %>
  </div>
  <div>
    <% if @spaceship.photo.attached?  %>
      <%= cl_image_tag(@spaceship.photo.key, :width => 450, :height => 250, crop: :fit) %>
    <% end %>
  </div>
</div>


  <p> <%= @spaceship.description %></p>
  <p>Owner: <%= @spaceship.user.email %> </p>

  <div data-controller="displaybookingform">
    <button class="btn btn-primary" data-action="click->displaybookingform#fire">Book</button>
    <div class="d-none" data-displaybookingform-target="form">
       <% if user_signed_in? %>
        <%= render "booking_form"%>
       <% else %>
       <%= render "sign_in" %>
        <%# <%= link_to 'sign in first', new_user_session_path %>
      <% end %>
    </div>
  </div>



</div>
