<!DOCTYPE html>
<html>
  <head>
    <title>Spacex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div>
        <%= link_to root_path, class: 'text-decoration-none' do %>
        <i class="fa-solid fa-shuttle-space mx-1"></i> Home
      <% end %>
      </div>
      <% if user_signed_in? %>
        <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'text-decoration-none btn btn-primary' %>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'text-decoration-none' %>
      <% end %>
    </div>
  </div>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
